# LEARNING PYTHON WITH BABA AAMAR
## HOW TO USE JUPYTER NOTEBOOK
### BASICS OF PYTHON

**01 - First program**

In [1]:
print("my first program in python")
print ("allah")
print("alhamdulilah...")
print("inshanallah this time i aM VERY serious")

my first program in python
allah
alhamdulilah...
inshanallah this time i aM VERY serious

**02 - operators**

In [2]:
print(2+4)
print(4-2)
print(3*3)
print(8/2) # use single slash in case you need flaot number
print(5%2)
print(8//2) # use double slash in csae you need whole number
print(4**2)
# we also solve some equation as below

print((3**3+6-2)+2**3/2*3+4-6)
print(12//4*3+4-2)
print ()

6
2
9
4.0
1
4
16
41.0
11

PEMDAS:
paranthesis , exponent , multiply , addition , subtraction
left to right sequence for division and multiplication
also left to right sequence for addition and subtraction

**03 - strings**

In [3]:
# here we are going to learn python
print("i love to learn python")
#string are the words , phrases , sentences written in '' , " " , ''' ''' quotation marks
print("test for double quotes")
print('test for single quotes')
print ('''test for triple quotes''')

#print('what's up') # different cases we use different quotation marks
# i.e for writing what's up we have to use double quotation marks
print ("what's up")
print('''what's up''')
# string_clear

i love to learn python
test for double quotes
test for single quotes
test for triple quotes
what's up
what's up

**04 - comments**

In [4]:
# print ('what's up')
print ('''what's up''')
print ("what's up")

what's up
what's up

press ctrl + \ for comment
commernts are very useful ,
comment are used during the code to understand function of every line , function 
loop and array of code,
every thing written in comments are not executed

**05 - variable**

In [5]:
# variable : object containing specific values
x=5
x=4 # python code were executed from top to bottom approach
    # so the variable should be updated
print(x) # numerical or integer variable

y="i love to learn python"
a="and want to learn it"
print (y)
print(y,a) # string variable we also add string variable by using + operator
print(y+a)
print(a)
z=3
print(x+z)

# to find type or class of variable use the command type
print(type(x))
print(type (y))

# rules for creating variable
# 1 - the variable should contain numbers,alphabets and underscores
# 2 - donot start a varaible name with a number i.e 2a = 34
# 3 - spaces are not allowed in variable name i.e ali khan use ali_khan
# 4 - do not use keyword as a variable name i.e and , not , test, mean etc
# 5 - the variable name must be short and descriptive
# 6 - care about case sensitivity 
# (lowercase letter , uppercase letter ,lowercase are suggested)

hotel_menu="mumbai biryani"
hotel_menu= 8
# del hotel_menu     # to delete a variable use del keyword
print(hotel_menu,) 
print(type(hotel_menu))

4
i love to learn python
i love to learn python and want to learn it
i love to learn pythonand want to learn it
and want to learn it
7
<class 'int'>
<class 'str'>
8
<class 'int'>

**06 - input variable**

In [6]:
# hotel_menu="namkeen"
# print(hotel_menu)

# input function simple method
# hotel_menu=input("what is your favourite dish ? ")
# print("nice choice",hotel_menu)

# input function of stege 2
# favourite_subject=input("which is your favourite subject ")
# greetings = "nice option !"
# print(greetings , favourite_subject)

# another way of stage 2 input function
# favourite_subject=input("which is your favourite subject ")
# # greetings = 
# print( "nice option !", favourite_subject)

# input function of stage 3
name = input ("what is your name ? ")
age = input("how old are you ? ")
gtreeting="hello ! , m.r "
print(gtreeting,name,"you are still young.")

what is your name ? ali
how old are you ? 12
hello ! , m.r  ali you are still young.

**07 - conditional logics**

In [7]:
# logical operator are either "true" or "false" ,"yes" or "no" , "0" or "1"
# equal to                          ==
# not equal to                      !=
# greater than                      >
# less than                         <
# greater than or equal to          >=
# less than or equal to             <=
# is 4 == 4
# print(4==4)
# print(4!=4)
# print(5>4)
# print(4>5)
# print(6<10)
# print(10<6)
# print(6<=7)
# print(7<=6)
# print(6<=6)
# print(6>=6)
# print(7>=6)
# print(6>=7)
# print(7>=7)
# print(7<=7)

# application of logical operator
# barrowed_amount=10000
# paid_ammount=8000
# print(barrowed_amount>=paid_ammount,"ok mr you must pay the remaining ammount on time")

# barrowed_amount=10000
# paid_ammount=input()
# paid_ammount=int(paid_ammount)
# print(type(paid_ammount))
# print(barrowed_amount==paid_ammount)

# input function and logical operator
# barrowed_ammount=10000
# paid_ammount=input("how much you paid ? ")
# paid_ammount=int (paid_ammount)
# print(type(paid_ammount))

# print(barrowed_ammount==paid_ammount)

# hammad_age=4
# required_age_at_school=5
# print(hammad_age==required_age_at_school , "hammad is too young")


hammad_age=input("how old is hammad ")
hammad_age=int(hammad_age)
print(type(hammad_age))
required_age_at_school=input("required age at school")
required_age_at_school=int(required_age_at_school)
print(type(required_age_at_school))
print(hammad_age>=required_age_at_school )

how old is hammad 3
<class 'int'>
required age at school23
<class 'int'>
False

**08 - type conversion**

In [8]:
# type conversion
x=4
y=10.2
z="khan"
# print(type(x))
# print(type(y))
# print(type(z))

# implicit type conversion
# x=2*x
# print(type(x))
# x=x*y
# print(type(x))
# y=3+y
# print(type(y))

# explicit type conversion
# x=12.32
# #x=int(x)
# print(x,type(int(x)))
# age=input("what is your age ")
# # age=float(age)
# print(age,type(int(age)))

name=input("what is your name ? ")
#name=int(name)
print(name , type(str(name)))

what is your name ? ali
ali <class 'str'>

**09 - if , ifelse , elif**

In [9]:
# use if , else and elif
print("age criteria for taking admission in school")
name=input("what is your good name ? ")
greetings="nice name !"
print(greetings , name )
age=input("how old are you : ") 

age=int(age)
age_at_school=5
# question : can hammad go to school
if age==age_at_school:
    print(name ,", you can join the school from nursury")
elif age<=4:
    print(name,"take care of yourself , you are still a baby")
elif age <= 14:
    print(name , "you  should join the higher classes")
elif age <=25:
    print(name ,"you should join the higher secondary school")
else:
    print(name ,"you can't join the school")

# using if , else and elif to make a calculator
# first_number=input("enter your first number ")
# operator=input("enter the required operator ")
# second_number=input("enter your second number ")

age criteria for taking admission in school
what is your good name ? khan
nice name ! khan
how old are you : 12
khan you  should join the higher classes

**10 - functions**

In [10]:
# how to define a function
# why we need a function i.e
# fuction is a piece of code that can be used to perform a particular task
# print ("allah is great")
# print ("allah is great")
# print ("allah is great")
# print ("allah is great")


# to define a function used the key word "def"
# 1 method
# def print_allah():
#     print ("allah is great")
#     print ("allah is great")
#     print ("allah is great")
#     print ("allah is great")

# print_allah()

# 2 method
# def print_allah():
#     text="allah is great"
#     print (text)
#     print (text)
#     print (text)
#     print (text)

# print_allah()

# 3 method
# def print_allah(text):
#     print (text)
#     print (text)
#     print (text)
#     print (text)

# print_allah("allah is great")


# defining a function using if else & elif
# def age_cal(text):
#     print(text)
#     person_one_age=input("enter person one age ")
#     person_second_age=input("enter person second age ")

#     if person_one_age==person_second_age:
#         print("you both are coeval")
#     elif person_one_age > person_second_age:
#         print("person one is elder than person second")
#     elif person_one_age < person_second_age:
#         print("person one is younger than person second")

# age_cal("compare your age")

# def age_cal(person_one_age , person_second_age):
#     # person_one_age=input("enter person one age ")
#     # person_second_age=input("enter person second age ")

#     if person_one_age==person_second_age:
#         print("you both are coeval")
#     elif person_one_age > person_second_age:
#         print("person one is elder than person second")
#     elif person_one_age < person_second_age:
#         print("person one is younger than person second")

# age_cal(11,12)
 # defining a function using operators
# x=input("enter your first number ")
# y =input("enter your second number ")
# if x==y:
#     print(x,",",y,"the value are equal")
# elif x>y:
#     print(x,",",y,"the x value are greater than y")
# elif x<y:
#     print(x,",",y,"the y value are greater than x")
      
# define a function of future
def future_age():
    age=input("enter your age ")
    age=int(age)
    new_age=age+20
    print("your age after twenty year !",new_age)

future_age()

enter your age 12
your age after twenty year ! 32

**11 - loops**

In [11]:
# what is loop ?
# loop is working like cycle it repeat the until the given 
# condition become false
# here we use two type of loops 1. while loops 2. for loops 

# understanding while loop
# x=0
# while(x<6):
#     print(x)
#     x=x+1


# understanding for loop
# for x in range (7,12):
#     print(x)

# understand of example of for loops

days =  [ "mon" , "tue" , "wed" , "thu" , "fri" , "sat" , "sun" ]

for d in days: 
    # if (d=="sat"): break
    if (d=="fri"): continue
    print(d)

mon
tue
wed
thu
sat
sun

**12 - import libraries**

In [12]:
# if you want to print the value of pi

import math
print("the value of is " , math.pi)



import statistics

x = [ 150 , 250 ,350 ,450]
print(statistics.mean(x))

# some libraries are numpy , seaborn etc

the value of is  3.141592653589793
300

**13 - trouble shooting**

In [13]:
#print(we are learning python with aamar) # syntax error (forget quotation  etc)
print("we are learning python with aamar")
#print(25/0) # run time error (to divide the number by non zero number)
print(25//5)

name = "aamar"
#print("hello ! name") # semantic error (own error )
print("hello ! " , name) # with space
print("hello !" +  name) # without space

we are learning python with aamar
5
hello !  aamar
hello !aamar